![alt text](https://gru.ifsp.edu.br/images/logos/Guarulhos-02.jpg)

# TCC SISTEMA DE RECOMENDAÇÃO DE VIAGENS

### O que é o Sistema de Recomendação?

Sistemas de Recomendação  tem como objetivo filtrar o conteúdo que é enviado ao usuário, tentar prever a “nota” ou “preferência” que o usuário daria a um conteúdo para então realizar recomendação baseada em suas preferências. Dessa forma, a experiência de consumo dentro da plataforma se torna mais otimizada e interessante.
O sistema deve aprender o padrão de consumo de conteúdo do usuário com experiências passadas e prever o que o usuário gostaria de consumir no futuro.

Um Sistema de Recomendação é uma classe de aprendizado de máquina que oferece sugestões relevantes ao cliente. Antes do sistema de recomendação, a grande tendência para comprar era aceitar sugestões de amigos. Mas agora o Google sabe quais notícias você vai ler, o Youtube sabe que tipo de vídeos você vai assistir com base em seu histórico de pesquisa, histórico de exibição ou histórico de compra.

Um sistema de recomendação  ajuda uma organização a criar clientes fiéis e construir a confiança deles nos produtos e serviços desejados para os quais vieram em seu site. Os sistemas de recomendação de hoje são tão poderosos que também podem lidar com o novo cliente que visitou o site pela primeira vez. Eles recomendam os produtos que estão em alta ou com alta classificação e também podem recomendar os produtos que trazem o máximo de lucro para a empresa.

Um sistema de recomendação de viagens  é um tipo de sistema de recomendação em que temos que recomendar destinos semelhantes ao turista com base em seu interesse.

# METODOLOGIA USADA NO SISTEMA DE RECOMENDAÇÃO

Dentre os diversas metodogias de sistemas de recomendação utlizaresmos a de filtragem baseada em colaboração para construir um sistema de recomendação de Viagens. Ou seja, precisamos construir uma máquina preditiva que, com base nas escolhas de viagens de outras pessoas, o destino seja recomendado a pessoas com interesses semelhantes.

Ex:

**USUÁRIO A** fez uma viagem ao Rio de Janeiro e Salvador e gostou.

**USUÁRIO B** também viajou e gostou desses dois destinos.

![](https://www.melhoresdestinos.com.br/wp-content/uploads/2019/08/rio-de-janeiro-capa2019-01.jpg)![](https://vemvoar.voeazul.com.br/wp-content/uploads/2018/10/conheca-salvador-e-se-apaixone-pela-capital-baiana.jpeg)

Agora o **USUÁRIO A** viajou e gostou do destino Florianópolis local onde   **USUÁRIO B** ainda não foi.

![](https://todepassagem.clickbus.com.br/wp-content/uploads/2020/09/Praias-de-Florian%C3%B3polis.jpg)


Então o sistema de Recomendação vai recomendar Florianópolis como um destino de interesse para a **USUÁRIO B**

# 2° Análise Exploratória dos Dados

sklearn.neighbors(Vizinhos mais próximos
) algoritmo fornece funcionalidade para métodos de aprendizado baseados em vizinhos não supervisionados e supervisionados.

In [6]:
#Importação das Bibliotecas ou Pacotes
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

#### Base de destinos

In [ ]:
# Importação dos Dados Referentes aos destinos
travel = pd.read_csv('travel.csv', sep=';', encoding="latin-1", error_bad_lines= False)

C:\Users\Thyago\AppData\Local\Temp\ipykernel_7876\2391461097.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  travel = pd.read_csv('travel.csv', sep=';', encoding="latin-1", error_bad_lines= False)

In [ ]:
travel

    CodDestino                Destino        Tipo        Regiao
0            1         Rio de Janeiro       Praia       Sudeste
1            2              Sao Paulo    Cultural       Sudeste
2            3               Salvador       Praia      Nordeste
3            4                Floripa       Praia           Sul
4            5           Porto Alegre    Cultural           Sul
5            6                 Bonito  Ecoturismo  Centro-Oeste
6            7             Ouro Preto    Cultural       Sudeste
7            8                 Olinda    Cultural      Nordeste
8            9                 Paraty    Cultural       Sudeste
9           10       Fernando Noronha  Ecoturismo      Nordeste
10          11     Floresta Amazonica  Ecoturismo         Norte
11          12        Bento Gonçalves       Rural           Sul
12          13             Cabaceiras       Rural      Nordeste
13          14  Chapada dos Veadeiros  Ecoturismo  Centro-Oeste
14          15  Chapada dos Guimaraes  Ecoturismo  Centro-Oeste

#### Base de Usuários

In [ ]:
# Importação dos Dados Referentes aos Usuários
users = pd.read_csv('Users.csv', sep=';', encoding="latin-1", error_bad_lines= False)

C:\Users\Thyago\AppData\Local\Temp\ipykernel_7876\2942329564.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('Users.csv', sep=';', encoding="latin-1", error_bad_lines= False)

In [ ]:
users

    User-ID  Destino-Origem  Idade
0       501  Rio de Janeiro   19.0
1       502       Sao Paulo   55.0
2       503        Salvador    NaN
3       504         Floripa   32.0
4       505    Porto Alegre   24.0
5       506  Rio de Janeiro   19.0
6       507       Sao Paulo   24.0
7       508        Salvador   20.0
8       509         Floripa    NaN
9       510    Porto Alegre   34.0
10      511  Rio de Janeiro    NaN
11      512       Sao Paulo   17.0
12      513        Salvador   24.0
13      514         Floripa   23.0
14      515    Porto Alegre   34.0
15      516  Rio de Janeiro    NaN
16      517       Sao Paulo   32.0
17      518        Salvador   14.0
18      519         Floripa   17.0
19      520    Porto Alegre    NaN

#### Base de Avaliações (Ratings)

In [ ]:
# Importação dos Dados Referentes aos Ratings dados aos destinos (Avaliação do Usuário em relação ao destinono)
ratings = pd.read_csv('Travel-Ratings.csv', sep=';', encoding="latin-1", error_bad_lines= False)

C:\Users\Thyago\AppData\Local\Temp\ipykernel_7876\415953961.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('Travel-Ratings.csv', sep=';', encoding="latin-1", error_bad_lines= False)

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User-ID       160 non-null    int64
 1   CodDestino    160 non-null    int64
 2   Destino-Nota  160 non-null    int64
dtypes: int64(3)
memory usage: 3.9 KB

# 3° Pré-Processamento dos Dados

### Renomeando Colunas

Vamos renomear as colunas de cada arquivo, pois o nome da coluna contém espaço e letras maiúsculas, então faremos as correções para facilitar o uso.

In [ ]:
# Rename de Colunas
travel.rename(columns = {'CodDestino':'Cod','Destino':'destino', 'Tipo':'tipodestino', 'Regiao':'regiao'}, inplace=True)
users.rename(columns = {'User-ID':'user_id', 'Destino-Origem':'origem', 'Idade':'idade'}, inplace=True)
ratings.rename(columns = {'User-ID':'user_id', 'CodDestino':'Cod', 'Destino-Nota':'rating'}, inplace=True)

In [ ]:
travel

    Cod                destino tipodestino        regiao
0     1         Rio de Janeiro       Praia       Sudeste
1     2              Sao Paulo    Cultural       Sudeste
2     3               Salvador       Praia      Nordeste
3     4                Floripa       Praia           Sul
4     5           Porto Alegre    Cultural           Sul
5     6                 Bonito  Ecoturismo  Centro-Oeste
6     7             Ouro Preto    Cultural       Sudeste
7     8                 Olinda    Cultural      Nordeste
8     9                 Paraty    Cultural       Sudeste
9    10       Fernando Noronha  Ecoturismo      Nordeste
10   11     Floresta Amazonica  Ecoturismo         Norte
11   12        Bento Gonçalves       Rural           Sul
12   13             Cabaceiras       Rural      Nordeste
13   14  Chapada dos Veadeiros  Ecoturismo  Centro-Oeste
14   15  Chapada dos Guimaraes  Ecoturismo  Centro-Oeste

In [ ]:
#Quantidade de Ratings por Usuários
ratings['user_id'].value_counts()

1     8
2     8
19    8
18    8
17    8
16    8
15    8
14    8
13    8
12    8
11    8
10    8
9     8
8     8
7     8
6     8
5     8
4     8
3     8
20    8
Name: user_id, dtype: int64

In [ ]:
# Destinos que tenham mais de 1 avaliação
x = ratings['user_id'].value_counts() > 1

In [ ]:
x

1     True
2     True
19    True
18    True
17    True
16    True
15    True
14    True
13    True
12    True
11    True
10    True
9     True
8     True
7     True
6     True
5     True
4     True
3     True
20    True
Name: user_id, dtype: bool

In [ ]:
# Quantidade Usuários que fizeram avaliações
# user_ids
y = x[x].index  
print(y.shape)

(20,)

In [ ]:
y

Int64Index([1, 2, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3,
            20],
           dtype='int64')

#### *REGRA de Negócio*

In [ ]:
# Trazendo avaliações somente dos usuários q avaliaram mais de 1 destino
ratings = ratings[ratings['user_id'].isin(y)]

In [ ]:
ratings

     user_id  Cod  rating
0          1    1       1
1          2    2       5
2          3    3       3
3          4    4       4
4          5    5       2
..       ...  ...     ...
155       16    6       1
156       17    7       5
157       18    8       3
158       19    9       4
159       20   10       2

[160 rows x 3 columns]

In [ ]:
# Juntando tabelas (Join ou Merge)
rating_with_travel = ratings.merge(travel, on='Cod')
rating_with_travel.head()

   user_id  Cod  rating         destino tipodestino   regiao
0        1    1       1  Rio de Janeiro       Praia  Sudeste
1       16    1       1  Rio de Janeiro       Praia  Sudeste
2       11    1       1  Rio de Janeiro       Praia  Sudeste
3        6    1       1  Rio de Janeiro       Praia  Sudeste
4        1    1       1  Rio de Janeiro       Praia  Sudeste

In [ ]:
#Quantidade de rating dos destinos
number_rating = rating_with_travel.groupby('destino')['rating'].count().reset_index()

In [ ]:
number_rating

                  destino  rating
0         Bento Gonçalves      10
1                  Bonito      11
2              Cabaceiras      10
3   Chapada dos Guimaraes      10
4   Chapada dos Veadeiros      10
5        Fernando Noronha      11
6      Floresta Amazonica      10
7                 Floripa      11
8                  Olinda      11
9              Ouro Preto      11
10                 Paraty      11
11           Porto Alegre      11
12         Rio de Janeiro      11
13               Salvador      11
14              Sao Paulo      11

In [ ]:
#Renomeando coluna
number_rating.rename(columns= {'rating':'number_of_ratings'}, inplace=True)
number_rating

                  destino  number_of_ratings
0         Bento Gonçalves                 10
1                  Bonito                 11
2              Cabaceiras                 10
3   Chapada dos Guimaraes                 10
4   Chapada dos Veadeiros                 10
5        Fernando Noronha                 11
6      Floresta Amazonica                 10
7                 Floripa                 11
8                  Olinda                 11
9              Ouro Preto                 11
10                 Paraty                 11
11           Porto Alegre                 11
12         Rio de Janeiro                 11
13               Salvador                 11
14              Sao Paulo                 11

In [ ]:
# Juntando a tabela de destinos com os Ratings com a tabela de quantidade de ratings por destino
final_rating = rating_with_travel.merge(number_rating, on='destino')
final_rating

,user_id,Cod,rating,destino,tipodestino,regiao,number_of_ratings
0,1,1,1,Rio de Janeiro,Praia,Sudeste,11
1,16,1,1,Rio de Janeiro,Praia,Sudeste,11
2,11,1,1,Rio de Janeiro,Praia,Sudeste,11
3,6,1,1,Rio de Janeiro,Praia,Sudeste,11
4,1,1,1,Rio de Janeiro,Praia,Sudeste,11
...,...,...,...,...,...,...,...
155,10,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
156,5,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
157,20,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
158,15,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
159,10,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10

#### *REGRA de Negócio*

In [ ]:
# Filtrar somente destinos que tenham pelo menos 1 avaliações
final_rating = final_rating[final_rating['number_of_ratings'] >= 0]
final_rating.shape

(160, 7)

In [ ]:
# Vamos descartar os valores duplicados, porque se o mesmo usuário tiver avaliado o mesmo destino várias vezes, isso pode dar rúim.
final_rating.drop_duplicates(['user_id','destino'], inplace=True)
final_rating.shape

(60, 7)

In [ ]:
final_rating

,user_id,Cod,rating,destino,tipodestino,regiao,number_of_ratings
0,1,1,1,Rio de Janeiro,Praia,Sudeste,11
1,16,1,1,Rio de Janeiro,Praia,Sudeste,11
2,11,1,1,Rio de Janeiro,Praia,Sudeste,11
3,6,1,1,Rio de Janeiro,Praia,Sudeste,11
11,2,2,5,Sao Paulo,Cultural,Sudeste,11
12,17,2,5,Sao Paulo,Cultural,Sudeste,11
13,12,2,5,Sao Paulo,Cultural,Sudeste,11
14,7,2,5,Sao Paulo,Cultural,Sudeste,11
22,3,3,3,Salvador,Praia,Nordeste,11
23,18,3,3,Salvador,Praia,Nordeste,11
24,13,3,3,Salvador,Praia,Nordeste,11
25,8,3,3,Salvador,Praia,Nordeste,11
33,4,4,4,Floripa,Praia,Sul,11
34,19,4,4,Floripa,Praia,Sul,11
35,14,4,4,Floripa,Praia,Sul,11
36,9,4,4,Floripa,Praia,Sul,11
44,5,5,2,Porto Alegre,Cultural,Sul,11
45,20,5,2,Porto Alegre,Cultural,Sul,11
46,15,5,2,Porto Alegre,Cultural,Sul,11
47,10,5,2,Porto Alegre,Cultural,Sul,11
55,6,6,1,Bonito,Ecoturismo,Centro-Oeste,11
56,1,6,1,Bonito,Ecoturismo,Centro-Oeste,11
57,16,6,1,Bonito,Ecoturismo,Centro-Oeste,11
58,11,6,1,Bonito,Ecoturismo,Centro-Oeste,11
66,7,7,5,Ouro Preto,Cultural,Sudeste,11
67,2,7,5,Ouro Preto,Cultural,Sudeste,11
68,17,7,5,Ouro Preto,Cultural,Sudeste,11
69,12,7,5,Ouro Preto,Cultural,Sudeste,11
77,8,8,3,Olinda,Cultural,Nordeste,11
78,3,8,3,Olinda,Cultural,Nordeste,11
79,18,8,3,Olinda,Cultural,Nordeste,11
80,13,8,3,Olinda,Cultural,Nordeste,11
88,9,9,4,Paraty,Cultural,Sudeste,11
89,4,9,4,Paraty,Cultural,Sudeste,11
90,19,9,4,Paraty,Cultural,Sudeste,11
91,14,9,4,Paraty,Cultural,Sudeste,11
99,10,10,2,Fernando Noronha,Ecoturismo,Nordeste,11
100,5,10,2,Fernando Noronha,Ecoturismo,Nordeste,11
101,20,10,2,Fernando Noronha,Ecoturismo,Nordeste,11
102,15,10,2,Fernando Noronha,Ecoturismo,Nordeste,11
110,11,11,1,Floresta Amazonica,Ecoturismo,Norte,10
111,6,11,1,Floresta Amazonica,Ecoturismo,Norte,10
112,1,11,1,Floresta Amazonica,Ecoturismo,Norte,10
113,16,11,1,Floresta Amazonica,Ecoturismo,Norte,10
120,12,12,5,Bento Gonçalves,Rural,Sul,10
121,7,12,5,Bento Gonçalves,Rural,Sul,10
122,2,12,5,Bento Gonçalves,Rural,Sul,10
123,17,12,5,Bento Gonçalves,Rural,Sul,10
130,13,13,3,Cabaceiras,Rural,Nordeste,10
131,8,13,3,Cabaceiras,Rural,Nordeste,10
132,3,13,3,Cabaceiras,Rural,Nordeste,10
133,18,13,3,Cabaceiras,Rural,Nordeste,10
140,14,14,4,Chapada dos Veadeiros,Ecoturismo,Centro-Oeste,10
141,9,14,4,Chapada dos Veadeiros,Ecoturismo,Centro-Oeste,10
142,4,14,4,Chapada dos Veadeiros,Ecoturismo,Centro-Oeste,10
143,19,14,4,Chapada dos Veadeiros,Ecoturismo,Centro-Oeste,10
150,15,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
151,10,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
152,5,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10
153,20,15,2,Chapada dos Guimaraes,Ecoturismo,Centro-Oeste,10


Iremos transpor os **usuários** em **colunas**, ao invés de linhas, pois as avaliações dadas por eles serão as **variáveis** da máquina preditiva.

In [ ]:
final_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 153
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            60 non-null     int64
 1   Cod                60 non-null     int64
 2   rating             60 non-null     int64
 3   destino            60 non-null     object
 4   tipodestino        60 non-null     object
 5   regiao             60 non-null     object
 6   number_of_ratings  60 non-null     int64
dtypes: int64(4), object(3)
memory usage: 3.8+ KB

In [ ]:
# Transposição de linhas(users_id) em colunas
travel_pivot = final_rating.pivot_table(columns='user_id', index='destino', values='rating')

In [ ]:
travel_pivot

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
destino,,,,,,,,,,,,,,,,,,,,
Bento Gonçalves,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
Bonito,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Cabaceiras,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN
Chapada dos Guimaraes,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
Chapada dos Veadeiros,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
Fernando Noronha,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
Floresta Amazonica,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Floripa,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
Olinda,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN
Ouro Preto,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
Paraty,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
Porto Alegre,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0
Rio de Janeiro,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Salvador,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN
Sao Paulo,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN

In [ ]:
travel_pivot.shape

(15, 20)

In [ ]:
travel_pivot.fillna(0, inplace=True)

In [ ]:
travel_pivot

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
destino,,,,,,,,,,,,,,,,,,,,
Bento Gonçalves,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
Bonito,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Cabaceiras,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
Chapada dos Guimaraes,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0
Chapada dos Veadeiros,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
Fernando Noronha,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0
Floresta Amazonica,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Floripa,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
Olinda,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
Ouro Preto,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
Paraty,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
Porto Alegre,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0
Rio de Janeiro,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Salvador,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
Sao Paulo,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0

Preparamos nosso conjunto de dados para modelagem. Usaremos o algoritmo de vizinhos mais próximos (nearest neighbors algorithm), que é usado para agrupamento com base na **distância euclidiana**.*


Mas aqui na tabela dinâmica, temos muitos valores zero e no agrupamento, esse poder de computação aumentará para calcular a distância dos valores zero, portanto, converteremos a tabela dinâmica para a matriz esparsa e, em seguida, alimentaremos o modelo.

*Uma matriz densa armazenada em uma matriz NumPy pode ser convertida em uma matriz esparsa usando a representação CSR chamando o csr_matrix () função.

*No mundo da matemática, a distância mais curta entre dois pontos em qualquer dimensão é chamada de distância euclidiana. É a raiz quadrada da soma dos quadrados da diferença entre dois pontos.

In [ ]:
from scipy.sparse import csr_matrix
travel_sparse = csr_matrix(travel_pivot)

#4° Criação da Máquina Preditiva

In [ ]:
from sklearn.neighbors import NearestNeighbors
import pickle 
model = NearestNeighbors(algorithm='brute')
model.fit(travel_sparse)
model2 = model.fit(travel_sparse)
pickle.dump(model2, open('model2.sav', 'wb'))

ModuleNotFoundError: No module named 'sklearn'

## Novas Predições

In [ ]:
#DestinoRJ
distances, suggestions = model.kneighbors(travel_pivot.iloc[0, :].values.reshape(1, -1))

In [ ]:
travel_pivot.head()

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
destino,,,,,,,,,,,,,,,,,,,,
Bento Gonçalves,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
Bonito,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Cabaceiras,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
Chapada dos Guimaraes,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0
Chapada dos Veadeiros,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0

In [ ]:
for i in range(len(suggestions)):
  print(travel_pivot.index[suggestions[i]])

Index(['Ouro Preto', 'Sao Paulo', 'Bento Gonçalves', 'Bonito',
       'Floresta Amazonica'],
      dtype='object', name='destino')

In [ ]:
#DestinoSP
distances, suggestions = model.kneighbors(travel_pivot.iloc[1, :].values.reshape(1, -1))

In [ ]:
travel_pivot.head(3)

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
destino,,,,,,,,,,,,,,,,,,,,
Bento Gonçalves,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
Bonito,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Cabaceiras,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0

In [ ]:
for i in range(len(suggestions)):
  print(travel_pivot.index[suggestions[i]])

Index(['Floresta Amazonica', 'Rio de Janeiro', 'Bonito', 'Fernando Noronha',
       'Porto Alegre'],
      dtype='object', name='destino')

In [ ]:
#Destino4
distances, suggestions = model.kneighbors(travel_pivot.iloc[4, :].values.reshape(1, -1))

In [ ]:
travel_pivot.head(4)

user_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
destino,,,,,,,,,,,,,,,,,,,,
Bento Gonçalves,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
Bonito,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Cabaceiras,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
Chapada dos Guimaraes,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0

In [ ]:
for i in range(len(suggestions)):
  print(travel_pivot.index[suggestions[i]])

Index(['Chapada dos Veadeiros', 'Paraty', 'Floripa', 'Rio de Janeiro',
       'Bonito'],
      dtype='object', name='destino')